// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bar {
	width: 100%;
	height: 100px;
	background-color: #eee;
	
	position: fixed;
	bottom: 0;
	left: 0;
	
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.bar .left {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 0;
	
	padding: 40px;
}

.bar .right {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	
	padding: 40px;
}

.error {
	padding: 36px;

	
	font-family: Arial;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	
	position: fixed;
	bottom: 0;
	width: 100%;
}